.fillScreen {
  /* min-height: 100vh; */
  /* display: flex;
  flex-direction: column; */
}

body {
  margin: 0;
  padding: 0;
}

html {
  /* height: -webkit-fill-available; */
  margin: 0;
  padding: 0;
}

* {
  user-select: none;
  -webkit-user-select: none;
}
